.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;    
}
.header-widgets {
    display: flex;
    flex-wrap: wrap; /* Permet aux widgets de passer à la ligne si nécessaire */
    justify-content: center;
    gap: 24px;   
}

.bar-widget {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 28px;   
    border-radius: 6px;
    border: 1px solid var(--Gray-100, #E4E7E9);
    background: var(--Gray-00, #FFF);        
}

.feature-un {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;    
}
.text-feature {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px; 
       
}

.text-up {
    width: 192px;
    color: var(--Gray-900, #191C1F);

    /* Label/03 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;        
}

.text-down {
    width: 192px;
    color: var(--Gray-600, #5F6C72);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */     
}

.line-feature {
    width: 1px;
    height: 56px;
    background: #E4E7E9;    
}

/* Media queries pour le Header */
@media (max-width: 1024px) {
    .header-widgets, .bar-widget {
        flex-direction: column;
        align-items: center;
    }
} 

@media (max-width: 768px) {
    .header {
        padding: 0 10px;
    }
    
    .bar-widget {
        gap: 16px;
    }
}