/* Section principale */
.latest-news {
   display: flex;
   padding: 72px 300px;
   flex-direction: column;
   align-items: flex-start;
   gap: 40px;
   background: var(--Gray-50, #F2F4F5); 
  }
  
  .latest-news-title {
    width: 1320px;
    color: var(--Gray-900, #191C1F);
    text-align: center;
    
    /* Heading/01 */
    font-family: "Public Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */    
  }
  
  /* Conteneur des cartes */
  .latest-news-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }
  
  /* Carte individuelle */
  .news-card {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 4px;
    border: 1px solid var(--Gray-100, #E4E7E9);  
    background: var(--Gray-00, #FFF);  
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.04);
  
    overflow: hidden;
   
  }
  
  /* Image */
  .news-image {
    width: 360px;
    height: 248px;
    object-fit: cover;
  }
  
  /* Détails de la carte */
  .news-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;  
  }
  
  .news-meta {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }
  
  .news-author,
  .news-date,
  .news-comments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;  
    color: var(--Gray-700, #475156);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */  
  }
  
  
  .news-title {
    width: 360px;
    color: var(--Gray-900, #191C1F);

    /* Body/Large/500 */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */    
  }
  
  .news-description {
    width: 360px;
    color: var(--Gray-500, #77878F);

    /* Body/Medium/400 */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */   
  }
  
  /* Bouton Read More */
  .read-more-button {
    display: flex;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    border: 2px solid var(--Primary-100, #FFE7D6);
    background: none;    
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    color: var(--Primary-500, #FA8232);

    /* Heading/07 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 342.857% */
    letter-spacing: 0.168px;
    text-transform: uppercase;  
  }
  
  .read-more-button:hover {
    background-color: #ff7a00;
    color: #ffffff;
  }