  .navigation {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  .top-nav {
    display: flex;
    flex-direction: row;
    padding: 12px 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    background: var(--Secondary-700, #1B6392);
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.16) inset;
  }

  .welcome-text {
    color: #FFF;
    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .navigation-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .reseau-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .follow-text {
    color: var(--Gray-00, #FFF);
    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .barre {
    width: 1px;
    height: 28px;
    opacity: 0.16;
    background: #FFF;
  }

  .middle-nav {
    display: flex;
    padding: 20px 100%;
    justify-content: space-between;
    width: 1320px;
    align-items: center;
    background: var(--Secondary-700, #1B6392);
  }

  .clicon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

  }

  .logo-clicon {
    width: 48px;
    height: 48px;
    fill: var(--Gray-00, #FFF);

  }
  
  .clicon-text {
    color: var(--Gray-00, #FFF);
    font-family: "Public Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;

  }

  .search {
    display: flex;
    padding: 14px 20px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 2px;
    background: var(--Gray-00, #FFF);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
    
  }

  .input-search {
    
    width: 578px;
    color: var(--Gray-500, #77878F);
    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    border: none;
    outline: none;
  }

  .search-button {
    background: none;
    border:none;
  }


  .search-icon {
    width: 20px;
    height: 20px;
  }

  .icon-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
  }

  .iconCart {
    position: relative;
    display: inline-block;
  }

  .cart-icon{
    width: 32px;
    height: 32px;
   
  }

  .point-1 {
    width: 4px;
    height: 4px;
    flex-shrink: 0;
    fill: var(--Gray-00, #FFF);
    position: absolute;
    right: 18px;
    top: 30px
    
  }

  .point-2 {
    width: 4px;
    height: 4px;
    flex-shrink: 0;
    fill: var(--Gray-00, #FFF);
    position: absolute;
    right: 3px;
    top: 30px
  }


  .text-cart {
    position: absolute;
    top: -3px; 
    right: -8px;
    flex-direction: column;
    display: inline-flex;
    width: 20px;
    padding: 2px 0px;
    border: 1.5px solid var(--Secondary-700, #1B6392);
    border-radius: 100px;
    background: #FFF;
    color: var(--Secondary-700, #1B6392);
    text-align: center;
    /* Body/Tiny/600 */
    font-family: "Public Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */ 
    
    
  }

  .user-icon {
    width: 32px;
    height: 32px;
  }

  .heart-icon {
    width: 32px;
    height: 32px;
  }


  
  .bottom-nav {
    display: flex;
    padding: 16px 100%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1320px;
    background: var(--Gray-00, #FFF);
    box-shadow: 0px -3px 0px 0px #E4E7E9 inset;
  }

  .category-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    
  }

  .category-button {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 2px;
    background: var(--Gray-50, #F2F4F5);
    border: none;
    transition: background-color 0.3s ease; /*fluidifier l'animation de fermeture et ouverture*/
    cursor: pointer;
  }
  .category-button.active {
    border-radius: 2px;
    background: var(--Primary-500, #FA8232);  
  }

  .category-button.active .category-text {
   color: white;  
  }

  .category-button.active .icon-category {
    filter: invert(100%) sepia(67%) saturate(0%) brightness(100%) contrast(100%);
  }

  .category-text {
    color: var(--Gray-900, #191C1F);
    /* Body/Small/500 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .icon-category {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
  }

  .icon-category.rotated {
    transform: rotate(180deg);
    color: white;
  }

  .nav-order {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
  }

  .track-order {
    color: var(--Gray-600, #5F6C72);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .nav-compare {
    display: flex;
    align-items: center;
    gap: 6px;    
    text-decoration: none;
  }

  .compare {
    color: var(--Gray-600, #5F6C72);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .nav-customer {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
  }

  .customer-support {
    color: var(--Gray-600, #5F6C72);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

  .nav-help {
    display: flex;
    align-items: center;
    gap: 6px; 
    text-decoration: none;   
  }

  .need-help {
    color: var(--Gray-600, #5F6C72);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .numero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    text-decoration: none;   
  }

  .numero {
    color: var(--Gray-900, #191C1F);

    /* Body/Large/400 */
    font-family: "Public Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }

  .img-nav {
    width: 24px;
    height: 24px;
  }

  .img-number {
    width: 28px;
    height: 28px;
  }

  /* Media queries pour Navigation */
@media (max-width: 1024px) {
  .top-nav, .middle-nav, .bottom-nav {
      
      flex-direction: column;
      align-items: center;
      gap: 10px
  }

  .top-nav .navigation-box, 
  .middle-nav .clicon, 
  .bottom-nav .category-nav, 
  .bottom-nav .numero-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }
}

@media (max-width: 768px) {
  .top-nav, .middle-nav, .bottom-nav {
      padding: 10px;
  }
  
  /* Ajustement pour les icônes et textes */
  .top-nav .welcome-text,
  .middle-nav .clicon-text,
  .bottom-nav .category-text {
      font-size: 14px;
  }
  
  .middle-nav .input-search {
      width: 100%;
      max-width: 300px;
  }
}