.small-banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    gap: 16px; /* Espace entre le texte et l'image */
}

.small-banner-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.small-banner-badge {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #FFDA3A; /* Couleur du badge */
    color: #1A1A1A;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
}

.small-banner-title {
    font-weight: bold;
    font-size: 18px;
    color: #1A1A1A;
}

.small-banner-subtitle {
    font-size: 14px;
    color: #5F6C72;
}

.small-banner-button {
    padding: 8px 16px;
    background-color: #FA8232;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    font-size: 14px;
}

.small-banner-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.small-banner-image {
    width: 80px;
    height: auto;
}

.small-banner-price {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #2D2D2D;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 14px;
}