.form-group-signin-forget {
  
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;  
 
    border-radius: 4px;
    border: 1px solid var(--Gray-100, #E4E7E9);
    background: var(--Gray-00, #FFF);
    
    /* Dropdown Shadow */
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);  
 }

 .head-signin-forget {
    /* Header */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    }

    .tab-label-forget {
        width: 360px;
        color: var(--Gray-900, #191C1F);
        text-align: center;
        
        /* Body/XL/600 */
        font-family: "Public Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px; /* 140% */    
      }

      .tab-second-label {
        width: 360px;
        color: var(--Gray-600, #5F6C72);
        text-align: center;
        
        /* Body/Small/400 */
        font-family: "Public Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */    
      }
        
      .input-popup-signin-forget {
        height: 44px;
        align-self: stretch; 
        border-radius: 2px;
        border: 1px solid var(--Gray-100, #E4E7E9);
        background: var(--Gray-00, #FFF);   
      }

      .information-forget {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;  
      }

      .already-forget {
        color: var(--Gray-600, #5F6C72);

        /* Body/Small/400 */
        font-family: "Public Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */  
      }

      .dont-forget {
        color: var(--Gray-600, #5F6C72);

        /* Body/Small/400 */
        font-family: "Public Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */  
      }

      .lien-forget {
        color: var(--Secondary-500, #2DA5F3);

        /* Body/Small/500 */
        font-family: "Public Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */  
      }

      .lien-forget:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      .text-divider-signin-forget {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; /* S'étend sur tout l'espace disponible */
        gap: 8px;
        background: #E4E7E9;
      }

    .text-divider-signin-forget::before,
    .text-divider-signin-forget::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #E4E7E9;
  }

  .customer-forget {
    width: 360px;
    color: var(--Gray-700, #475156);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */    
  }

  .customer-style {
    color: var(--Primary-500, #FA8232);

    /* Body/Small/500 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;  
  }


      