.global-product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrage vertical */
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;  
}


.product-list {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 72px 0px;
    align-items: flex-start;
    width: 100%;
    max-width: 1327px;
    gap: 24px; 
    margin: 0 auto;
      
}

.filter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:100%;
    max-width: 312px;
    align-items: flex-star;
    gap: 24px;    
    margin: 0 auto;
}

.category-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;  
    
}

.category-label {
    width: 312px;
    color: var(--Gray-900, #191C1F);

    /* Label/02 */
    font-family: "Public Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;        
}

.categories-shopage {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;    
}

 .category-item-shopage {
    display: flex;
    align-items: flex-start;
    gap: 8px;
 
  }

  .label-shopage {
    display: flex;
    width: 284px;
    color: var(--Gray-700, #475156);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */  
    align-items: center;
  }

  /* Stylisation de l'input radio */
    .categories-shopage input[type="radio"] {
    /* Cache l'apparence par défaut */
    margin-right: 8px;
    appearance: none;
    -webkit-appearance: none; /* Support pour Safari */
    -moz-appearance: none;
    
    /* Dimensions du bouton radio */
    width: 20px;
    height: 20px;
    border: 1px solid var(--Gray-200, #C9CFD2);
    border-radius: 50%; /* Cercle */
    background: var(--Gray-00, #FFF);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  /* Style lorsque le bouton est sélectionné */
  .categories-shopage input[type="radio"]:checked {
    background-color: var(--Primary, #ffffff); /* Couleur de fond une fois sélectionné */
    border: 2px solid var(--Primary, #FA8232); /* Enlevez pour le style avec en dessous*/
    box-shadow: 0 0 4px var(--Primary, #FA8232);
  }
  
  /* Cercle intérieur pour l'état sélectionné */
  .categories-shopage input[type="radio"]:checked::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #FFF;
    border-radius: 50%;
    margin: auto;
    
  }
  
  /* Ajout d'un hover pour améliorer l'UX */
  .categories-shopage input[type="radio"]:hover {
    border-color: var(--Primary-Light, #f2deaa);
  }
  
  /* Ajout d'un focus pour accessibilité */
  .categories-shopage input[type="radio"]:focus {
    outline: 1px solid var(--Primary-Light, #f0e49c);
    outline-offset: 1px;
  }

  .diviser-shopage {
    width: 312px;
    height: 1px;
    background: #E4E7E9;  
  }

  .price-range {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
  }
  
  .slider-container {
    position: relative;
    width: 312px;
    height: 2px;
    background-color: #e6e8ea;
    border-radius: 2px;
    margin: 16px 0;
  }
  
  .slider-line {
    width: 100%;
    height: 100%;
    background-color: #eaeae6;
    position: absolute;
    top: 0;
  }

  .slider-active-line {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #ff6a00; /* Couleur orange */
    border-radius: 2px;
    
  }
  
  
  .slider-knob {
    position: absolute;
    top: -6px;
    width: 12px;
    height: 12px;
    border: 2px solid var(--Primary-500, #FA8232);
    background-color: var(--Gray-00, #FFF);;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    user-select: none; /* Empêche la sélection de texte sur le knob */
    -webkit-user-drag: none; /* Désactive le drag-and-drop sur WebKit (Chrome, Safari) */
  }
  
  .slider-knob:hover {
    transform: scale(1.1);
  }
  
  .price-inputs {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  
  .price-input {
    display: flex;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid var(--Gray-100, #E4E7E9);
    background: var(--Gray-00, #FFF);

    color: var(--Gray-500, #77878F);
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    
    text-align: center;
  }
  
  .price-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .price-option {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
  }
  
  .price-option label {
    display: flex;
    width: 284px;
    align-items: center;
    gap: 8px;
    color: var(--Gray-700, #475156);

    /* Body/Small/400 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */  
    font-size: 14px;
  }
  
  .price-option input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--Gray-200, #C9CFD2);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  
  .price-option input[type='radio']:checked {
    background-color: var(--Primary, #ffffff); /* Couleur de fond une fois sélectionné */
    border: 2px solid var(--Primary, #FA8232); /* Enlevez pour le style avec en dessous*/
    box-shadow: 0 0 4px var(--Primary, #FA8232);
  }
  
  .price-option input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
  }

  .brands-shop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;  
  }

  .footer-tags-shop {
    display: flex;
    flex-wrap: wrap;
    gap:8px; 
    width: 100%;
  }
  
  .footer-tag-shop {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    border: 1px solid var(--Gray-100, #E4E7E9);
    color: var(--Gray-900, #191C1F);

    /* Body/Small/500 */
    font-family: "Public Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */  
    background: none;
    cursor: pointer;
  }

  .footer-tag-shop:hover {
    border-radius: 2px;
    border: 1px solid var(--Primary-500, #FA8232);
    background: var(--Primary-50, #FFF3EB);
    color: var(--Primary-500, #FA8232);
  }

  .check-style {
  width: 100%;  
  }

  .banner-shop {
    display: flex;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px; 

    border-radius: 4px;
    border: 4px solid var(--Primary-100, #FFE7D6);
    background: var(--Gray-00, #FFF);
  }

  .content-shopage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;  
  }
.sous-content-shopage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;  
}

.text-shopage {
  width: 248px;
  color: var(--Gray-900, #191C1F);
  text-align: center;
  
  /* Heading/03 */
  font-family: "Public Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */    
}

.content-price-shopage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;  
}

.text-only {
  color: var(--Gray-700, #475156);

  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.price-only {
  display: flex;
  padding: 6px 12px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 3px;
  background: var(--Warning-300, #F3DE6D);

  color: var(--Gray-900, #191C1F);
  text-align: center;
  
  /* Body/Medium/600 */
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.button-shopage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;  
}

.add-to-cart-button-shopage {
  display: flex;
  width: 248px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 2px;
  background: var(--Primary-500, #FA8232);
  
  color: var(--Gray-00, #FFF);

  /* Heading/07 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 342.857% */
  letter-spacing: 0.168px;
  text-transform: uppercase;
  border: none;  
}

.view-detail-button {
  display: flex;
  width: 248px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  
  color: var(--Primary-500, #FA8232);

  /* Heading/07 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 342.857% */
  letter-spacing: 0.168px;
  text-transform: uppercase;

  border-radius: 2px;
  background: white;
  border: 2px solid var(--Primary-500, #FA8232);  
}

.search-and-sort-by {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: 24px;
  width: 105%;
  max-width: 1327px;
  margin:0 auto;
}



.search-shopage {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 2px;
  background: var(--Gray-00, #FFF);
  border: 1px solid var(--Gray-100, #E4E7E9);
  
}

.input-search-shopage {
    
  width: 364px;
  color: var(--Gray-500, #77878F);
  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  border: none;
  outline: none;
}

.search-button-shopage {
  background: none;
  border:none;
}


.search-icon-shopage {
  width: 20px;
  height: 20px;
}

.active-filter-results {
  display: flex;
  align-items: center;
  width: 100%;
  padding:12px 24px;
  justify-content: space-between;
  align-items: center; 
  border-radius: 4px;
  background: var(--Gray-50, #F2F4F5); 
  margin: 0 auto; 
}

.other-featuredproduct-shopage {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 3; 
  gap: 16px;
  align-items: flex-start;  
  position: relative;
  
}

.filter-list-second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;    
}

.filter-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 936px;
  width: 100%;
  gap: 16px; 
}

.active-filters-shopage {
  display: flex;
  align-items: center;
  gap: 16px;  
}

.filter-active-item {
  display: flex;
  align-items: center;
  gap: 6px; 
  
  color: var(--Gray-900, #191C1F);

  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */  
}

.active-filter {
  color: var(--Gray-600, #5F6C72);

  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */  
}

.number-filter {
  color: var(--Gray-900, #191C1F);

  /* Body/Small/600 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */  
}

.result-filter {
  color: var(--Gray-600, #5F6C72);

  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;  
}

.popular-button {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 45px;
  border-radius: 2px;
  background: var(--Gray-00, #FFF);
  border: 1px solid var(--Gray-100, #E4E7E9);
  transition: background-color 0.3s ease; /*fluidifier l'animation de fermeture et ouverture*/
  cursor: pointer;
}
.popular-button.active {
  border-radius: 2px;
  background: var(--Primary-500, #FA8232);  
}

.popular-button.active .popular-text {
 color: white;  
}

.popular-button.active .icon-category {
  filter: invert(100%) sepia(67%) saturate(0%) brightness(100%) contrast(100%);
}

.popular-text {
  color: var(--Gray-700, #475156);

  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.sort-by {
  display: flex;
  align-items: center;
  gap: 22px;  
}

.text-sort-by {
  color: var(--Gray-900, #191C1F);

  /* Body/Small/400 */
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */  
  
}

.pagination-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

.pagination-btn {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1.5px solid var(--Primary-500, #FA8232);  
  background: none;
  color: var(--Primary-500, #FA8232);
  cursor: pointer;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-item {
  display: flex;
  border: 1px solid var(--Gray-100, #E4E7E9);
  border-radius: 50%;
  padding: 10px 10px;
  background: none;
  cursor: pointer;
  color: black;
}

.pagination-item.active {
  background:  var(--Primary-500, #FA8232);
  color: white;
  border: 1px solid var(--Primary-500, #FA8232);
}

  /* Breakpoints */
@media (max-width: 1920px) {
  .global-product-list {
      padding: 0 40px; /* Espacement autour pour des écrans larges */
  }
}

@media (max-width: 1280px) {
  .global-product-list {
      padding: 0 20px; /* Réduit l'espacement latéral pour les écrans de 1280px */
  }
}

@media (max-width: 768px) {
  .global-product-list {
      padding: 0 10px;
      flex-direction: column;
      align-items: flex-start;
  }
}




