/* SignIn.css */
.signin-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .signin-form-container h2 {
    text-align: center;
    color: #333;
  }
  
  .signin-form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-form label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .signin-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .signin-form input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .signin-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signin-button:hover {
    background-color: #0056b3;
  }
  
  .signup-redirect {
    margin-top: 15px;
    text-align: center;
  }
  
  .signup-redirect .signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-redirect .signup-link:hover {
    text-decoration: underline;
  }
  
  .reset-password {
    margin-top: 10px;
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
  }
  
  .reset-password .reset-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .reset-password .reset-link:hover {
    text-decoration: underline;
  }
  