/* ResetPassword.css */

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7; /* Couleur de fond claire et uniforme */
}

.reset-password-form-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Légère ombre pour l'effet de profondeur */
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  font-weight: bold;
  display: block;
  text-align: left;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.reset-password-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-password-button:hover {
  background-color: #45a049; /* Changement de couleur au survol */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
